html, body { @apply h-full; }
html { @apply font-agenda leading-tighter font-medium text-gray-100 antialiased; font-size: 16px; }

body { @apply text-base; }

h1 { @apply text-4xl; }

a, button, input { @apply outline-none !important; }

a, button { transition: color 0.3s ease-in, background-color 0.3s ease-in, border 0.3s ease-in, opacity 0.3s ease-in; }

input + .icon-check:before { @apply opacity-0 transition; }
input:checked + .icon-check:before { @apply opacity-100; }

.input { @apply w-full border border-gray-400 rounded-10 text-f16 leading-a17 outline-none appearance-none h-50 px-22 py-5 mb-14 text-gray-400; }

.hover-border { @apply relative; }
.hover-border:after { @apply absolute transition left-50p bottom-0 translate-xhn w-0 h-4 bg-green-100 rounded-10; }
.hover-border:hover:after, .active .hover-border:after { @apply w-full; }

.btn { @apply relative bg-green-200 text-white leading-snug px-40 inline-flex items-center justify-center outline-none rounded-50 font-bold text-base; }

.btn-gray { @apply bg-gray-200 text-gray-100; }
.btn-white { @apply bg-white text-gray-100a50; }
.btn-dark-gray { @apply bg-gray-100 text-white; }
.btn:hover { @apply bg-green-700 text-white; }

.list-tick li { @apply pl-35 }
.list-tick li:before { content: '\e90b'; @apply font-icomoon float-left -ml-35 mt-2 text-green-600; }

.js-will-blur { transition: filter 0.3s linear; }
.blur { -webkit-filter: url(#svg-blur); filter: url(#svg-blur); }

.js-help.active { @apply w-344; }
.js-help.active .hidden { @apply block; }
.js-help.active .block { @apply hidden; }

.cart-panel { @apply -right-600 transition; }

.cart-active .cart-panel { @apply right-0; }

.modal,
.modal-box { @apply opacity-0 invisible transition; }
.modal-active .modal,
.modal-active .modal-box.show { @apply opacity-100 visible; }

.dropdown.active { @apply opacity-100 visible; }
.dropdown:before { content:''; background: linear-gradient(to bottom, rgba(112,112,112,0.15) 0%,rgba(112,112,112,0) 100%); @apply h-5 absolute left-0 right-0 top-0  }

.bg-stretch { @apply bg-cover bg-center bg-no-repeat absolute left-0 top-0 bottom-0 right-0 -z-1; }

.search-drop.active { @apply w-300; }

.hidden.current { @apply block; }

@media (max-width: 767px) {
    .btn { @apply text-f14 py-9 min-w-199; }

    .container { @apply max-w-full !important; }
}

@media (min-width: theme('screens.sm')) {
    .input { @apply text-f18 h-63; }

    .btn-a { @apply text-f20 py-12 min-w-200; }
    .btn-b { @apply text-f20 pt-6 pb-11; }
    .btn-c { @apply text-f22 pt-6 pb-12; }
    .btn-lg { @apply text-f22 pt-17 pb-21 min-w-367; }
    .btn-md { @apply text-f18; }
    .btn-sm { @apply font-medium text-f16 py-7; }
}

@media (min-width: theme('screens.md')) {
    .hover-border:after { content: ''; }


    .list-tick li { @apply pl-60 }
    .list-tick li:before { @apply -ml-60 }

    .input { @apply px-33; }
}

@media (max-width: 1023px) {
    .js-nav { @apply -mr-400 overflow-y-auto; }
    .js-nav-active .js-nav { @apply mr-0; }
}